.box {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-bottom: 20px;
}


.main {
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: yellow;
    align-items: center;
    gap: 30px;
}

span {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-bottom: 20px;
   
}